/* Contact Page Styling */
.contactMain {
  background: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(34.400001525878906px);
  height: 100vh;
  background: url("../../public/assets/blurImage.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Optional: Fixed background */
}
.container {
  margin: 0 175px;
  height: 100%;
}
.socialIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
  background: #19191e;
}
.contactInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100% !important;
}
.sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
.emailInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.emailInfo > h2 {
  color: #fff;
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.emailInfo > p {
  color: #ffc91d;
  font-family: Fira Code;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
}
.sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
.sectionTwo > h2 {
  color: #fff;
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  width: 543px;
}
.singleInput {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
}
.singleInput > label {
  color: #ffc91d;
  font-family: Fira Code;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
}
.inputStyle {
  color: #cfdaed;
  font-family: Fira Code;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 147.059% */
  padding-left: 20px;
  background-color: #28292a;
  border: none;
  width: 543px;
  height: 65px;
  flex-shrink: 0;
  backdrop-filter: blur(46.25px);
  outline: none;
  transition: 0.3s ease;
  width: 100%;
}
.inputContainer {
  position: relative;
  width: 100%;
}
.inputStyle ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(255, 201, 29, 0.4);
}
.inputStyle:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}
.singleInput > textarea {
  width: 543px;
  height: 219px;
  padding-top: 20px;
  flex-shrink: 0;
}
.btnInfoSubmit {
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(198, 151, 0, 0.7) 0%,
      rgba(198, 151, 0, 0.7) 100%
    ),
    linear-gradient(269deg, #ffc91d 48.58%, #ff9100 90.75%);
  color: var(--white, #fff);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font-family: Fira Code;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 543px;
  height: 65px;
  flex-shrink: 0;
  border: none;
  transition: all 1s ease-in-out;
}

.inputStyleError {
  border-bottom: 1px solid red;
}

.error {
  margin: 0;
  font-size: 15px;
  margin-top: -10px;
  color: rgb(255, 22, 22);
}
.exit {
  position: absolute;
  top: 56px;
  right: 75px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  transform-origin: center;
}
.exit:hover {
  transform: rotate(360deg);
}
.dots {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* Responsive layout for less than 1200px */
@media screen and (max-width: 1200px) {
  .container {
    margin: 0 100px;
  }
}
/* Responsive layout for less than 975px */
@media screen and (max-width: 975px) {
  .contactInfo {
    flex-direction: column;
    justify-content: center;
  }
  .sectionOne {
    flex-direction: row;
    column-gap: 35px;
    margin-top: 70px;
    margin-bottom: 30px;
    float: left;
    text-align: center;
  }
  .emailInfo {
    row-gap: 10px;
  }
  .sectionTwo {
    row-gap: 15px;
  }
  .sectionTwo > h2 {
    text-align: center;
  }
  .inputStyle {
    width: 100%;
    height: 45px;
  }
  .btnInfoSubmit {
    height: 45px;
    font-size: 22px;
  }
  .dots {
    display: none;
  }
}
/* Responsive layout for less than 675px */
@media screen and (max-width: 675px) {
  .container {
    margin: 0 50px;
  }
  .sectionOne {
    margin-top: 100px;
  }
  .emailInfo > h2 {
    font-size: 24px;
  }
  .sectionTwo > h2 {
    font-size: 26px;
  }
  .singleInput > label {
    font-size: 16px;
  }
  .socialIcons {
    left: 20px;
  }
  .lineImage {
    height: 100px;
  }
  .axislogo {
    width: 30px;
    height: 30px;
  }
  .exit {
    top: 25px;
    right: 50px;
  }
  .contactInfo {
    justify-content: center;
  }
}
/* Responsive layout for less than 600px */
@media screen and (max-width: 600px) {
  .emailInfo > h2 {
    font-size: 20px;
  }
  .emailInfo > p {
    font-size: 16px;
  }
  .sectionTwo > h2 {
    font-size: 22px;
  }
  .singleInput > label {
    font-size: 14px;
  }
  .sectionOne {
    column-gap: 15px;
  }
  .singleInput,
  .btnInfoSubmit {
    width: 90%;
  }
  .singleInput > textarea {
    width: 100%;
  }
}
/* Responsive layout for less than 500px */
@media screen and (max-width: 500px) {
  .singleInput,
  .btnInfoSubmit {
    width: 75%;
  }
  .singleInput > textarea {
    width: 100%;
  }
}
/* Responsive layout for less than 500px */
@media screen and (max-width: 500px) {
  .singleInput {
    width: 75%;
  }
  .singleInput > textarea {
    width: 100%;
  }
}
/* Responsive layout for less than 450px */
@media screen and (max-width: 450px) {
  .sectionOne {
    flex-direction: column;
    gap: 5px;
    margin-top: 75px;
  }
  .emailInfo {
    row-gap: 5px;
  }
  .singleInput,
  .btnInfoSubmit {
    width: 63%;
  }
  .singleInput > textarea {
    width: 100%;
  }
}
