/* Social Icons Ui Style*/
.soicalIconMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.socialSingle {
  margin-top: 8px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.socialSingle:hover {
  filter: brightness(0%) invert(100%);
  transform: scale(1.2);
}

/* Single work styling */
.workShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.workTitleBox {
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
}
.shadowlight {
  margin-top: -30px;
}
.workTitleBox > p {
  margin: 0;
  color: var(--white, #fff);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.workTitleBox > p > span {
  color: var(--gray, #abb2bf);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.yellowBox {
  width: 16px;
  height: 16px;
  border: 1px solid #ffc91d;
  background: #ffc91d;
  margin-right: 10px;
}
.imgesLogo {
  width: 101px;
  height: 101px;
  transition: opacity 0.3s ease-in-out;
}

/* Contact us Button Sytling */
.contactUs {
  background: #d79500;
  display: flex;
  cursor: pointer;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.5s all ease-in-out;
}
.contactUs:hover {
  background-color: #a6780d;
}
.contactUs > p {
  margin: 0;
  color: var(--white, #fff);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* Download Button Sytling */
.downloadBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 16px;
  gap: 10px;
  border: 1px solid #abb2bf;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.downloadBtn > p {
  margin: 0;
  color: #abb2bf;
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}
.downloadBtn:hover,
.downloadBtn > p:hover {
  border-color: #e9eff8;
  color: #e9eff8;
}
/* Responsive layout for screen less than 900px */
@media screen and (max-width: 900px) {
  .imgesLogo {
    width: 80px;
    height: 80px;
  }
  .workTitleBox {
    padding: 6px 8px;
  }
  .workTitleBox > p {
    font-size: 14px;
  }
  .workTitleBox > p > span {
    font-size: 14px;
  }
  .yellowBox {
    width: 14px;
    height: 14px;
  }
  .shadowlight {
    width: 100px;
    height: 50px;
  }
  .contactUs {
    padding: 6px 18px;
  }
  .downloadBtn {
    padding: 1px 15px;
    gap: 10px;
  }
}
/* Responsive layout for screen less than 400px */
@media screen and (max-width: 452px) {
}
/* Responsive layout for screen less than 380px */
@media screen and (max-width: 380px) {
  .yellowBox {
    width: 10px;
    height: 10px;
  }

  .imgesLogo {
    width: 60px;
    height: 60px;
  }
}
