/* Modal Page Styling */
.modalMain {
  background: rgba(12, 12, 12, 0.8);
  backdrop-filter: blur(34.400001525878906px);
  height: 100vh;
  background: url("../../public/assets/blurImage.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Optional: Fixed background */
}
.container {
  margin: 0 175px;
  height: 100%;
}
.socialIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
  background: #19191e;
}
.modalBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.bodyHead {
  margin-top: -100px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}
.btns {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}
.bodyHeadInfo {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.bodyHeadInfo > h1 {
  color: #fff;
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.bodyHeadInfo > p {
  color: #cfdaed;
  font-family: Fira Code;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 170.588% */
}
.modalImage {
  width: 191px;
  height: 191px;
  flex-shrink: 0;
  opacity: 0.4;
  mix-blend-mode: luminosity;
  margin-left: 40px;
  margin-top: 50px;
  transform: rotate(-20deg);
}
.dots {
  position: absolute;
  bottom: 0;
  right: 50px;
}
.exit {
  position: absolute;
  top: 56px;
  right: 75px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.exit:hover {
  transform: rotate(360deg);
}
/* Responsive design for less than 1250px */
@media screen and (max-width: 1250px) {
  .container {
    margin: 0 100px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    margin: 0 50px 0 80px;
  }
  .bodyHeadInfo > h1 {
    font-size: 28px;
  }
  .bodyHeadInfo > p {
    font-size: 14px;
    line-height: 26px;
  }
}
/* Media quirey for less than 900px */
@media screen and (max-width: 900px) {
  .container {
    margin-right: 20px;
  }
  .bodyHead {
    gap: 0px;
  }
  .modalImage {
    width: 150px;
    height: 150px;
  }
  .bodyHeadInfo > p {
    font-size: 13px;
    line-height: 24px;
  }
}
/* Responsive design layout for less than 650px */
@media screen and (max-width: 650px) {
  .socialIcons {
    left: 10px;
  }
  .container {
    margin: 0 20px;
  }
  .modalBody {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .bodyHead {
    margin-top: 150px;
  }
  .modalImage {
    display: none;
  }
  .bodyHead {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .exit {
    top: 25px;
    right: 50px;
  }
  .exitImage {
    width: 30px;
    height: 30px;
  }
  .dots {
    opacity: 0.3;
  }
  .lineImage {
    height: 80px;
  }
  .bodyHeadInfo > p {
    text-align: justify;
  }
}

/* Responsive layout less than and equal 450 */
@media screen and (max-width: 455px) {
  .bodyHeadInfo > p {
    font-size: 12px;
    line-height: 20px;
  }
  .btns {
    column-gap: 5px;
  }
  .btns {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}
